name: SonarQube Analysis

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      
      - name: Set up JDK 24 (Compile only)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24

      - name: Compile the project
        run: mvn -B -DskipTests=true clean package

      
      - name: Set up JDK 21 (Tests + JaCoCo)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Run tests and generate coverage
        run: mvn -B clean verify

      # Step 3: SonarCloud Analysis
      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=Anan-mohammad-library_Library \
            -Dsonar.organization=anan-mohammad-library \
            -Dsonar.host.url=https://sonarcloud.io
